<!DOCTYPE html>
<html lang="es" ng-app="MyApp">
<head>
   <meta charset="UTF-8">
   <title>AngularJS</title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  	<script src="myAppCtrl.js"></script>
</head>
<body>
   <div class="row" ng-controller="preguntasController"><!--Div controlado por el controller "preguntasController"-->
      <div class="col-md-4 text-center">
      <div class="panel panel-primary">
         <h1>Pregunta {{pregunta.id}}</h1><!--Manera en que se llama a uno de los atributos del objeto pregunta-->
         <div class="pregunta">
            <h3>{{pregunta.premisa}}</h3>
            <ul>
               <div class="radio" ng-repeat="respuesta in pregunta.respuestas" ng-init="marcar()"><!--Directivas que se encargan de cargar las respuestas y de inicializar todas las respuestas en false-->
                 <label><input type="radio" name="optradio">{{respuesta.text}}</label>
               </div>
            </ul>
         </div>
         <button ng-click="responder()">Responder</button><!--Directiva que ejecuta la función reponder con ng-click-->
         </div>
      </div>
   </div>
</body>
</html>

